#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Name=PipeDeck
Comment=PipeWire/PulseAudio browser mixer
Exec=/usr/bin/python3 /home/janik/Build/pulsewireweb/server.py
Icon=/home/janik/Build/pulsewireweb/public/icon.png
Terminal=false
Categories=AudioVideo;Audio;Mixer;
StartupWMClass=PipeDeck
